# To whom send the notifications?
MailTo           "m@michalrus.com"

# From which Gmail account?
GmailFromName    "annibot"
GmailFromEmail   "scripts@michalrus.com"
GmailPassword    "yCK;*&b1.4rHVfW7zWc#"
